html,body{
  width:100%;
  height:100%;
}

body {
  user-select: none;
  user-drag: none;
}

#actors {
  display: none;
}

#game {
  background: url(../img/background.jpg);
  background-size: 100% 100%;
  height:100%;
/*  width: 1366p*/

 /* height: 768px;

  width:100%;*/
/*  height:100%;*/
  overflow: hidden;
/*  cursor: none;*/
  position:relative;

}

#running-score{
  position:fixed;
  background-color:#000;
  width:20%;
  height:7%;
  bottom:3%;
  right:9%;
 /* margin-right:5%;
  margin-top:5%;*/
  color:#fff;
  font-size: 40px;
  text-align: center;
  vertical-align: center;
  font-family: Arial;
}

#crosshair {
  display: none;
  position: relative;
  z-index: 2;
  background: url(../img/crosshair.png);
  width: 60px;
  height: 60px;

}

.sprite {
  position: relative;
  z-index: 3;
  left: 0px;
  top: 0px;
  display: block;
  background: url(../img/sprites.png) no-repeat;
}



.dog {
  background-position: -24px -16px;
  width: 160px;
  height: 140px;
  position: absolute;
  top: 59%;
}


.stepOne{
  background-position: -24px -16px;
}

.stepTwo{
  background-position: --207px -3px;
}

.stepThree{
  background-position: -394px -3px;
}

.stepFour{
  background-position: -577px -3px;
}

.stepFive{
  background-position: -757px -3px;
}

.stepSix{
  background-position: -925px -3px;
}

.stepSeven{
  background-position: -1055px -3px;
}




.duck.right {
  background-position: -836px -208px;
  width: 104px;
  height: 74px;
}

.duck.right.flap {
  background-position: -695px -208px;
  width: 104px;
  height: 74px;
}

.dead {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#game-over {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#game-over-message {
  text-transform: uppercase;
  font-family: courier, "Courier New", monospace;
  background: #000;
  color: #FFF;
  width: 600px;
  font-size: 4em;
  padding: 1.4em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

#game-over-message p {
  padding-top: 2em;
  font-size: 0.4em;
}

#modal{
  width:500px;
  height:400px;
  margin:0 auto;
  border-radius:50px;
  background: rgba(60, 60, 60, 0.4);
  position:relative;
  top:10%;
}

#difficulty{
  position:absolute;
  top:30%;
  left:30%;
}

#difficulty h4{
  margin-bottom:30px;
  font-size:30px;
  font-weight:bold;
}

#difficulty form{
  font-size: 20px;
  margin-left:50px;
}

.btn{
  color: #FFF;
  background-color: #900;
  font-weight: bold;
  width:100px;
  height:50px;
  margin-left:-10px;
  margin-top:20px;
}


#shells-con{
 width:100%;
 position:absolute;
 bottom:0px;
}

#shells{

 display:none;
 width:130px;
 margin-left:55%;

}

#shells img{
  width:40px;
  height:80px;
  display:inline-block;
}

#shotgun{
  display:none;
}
